div.banner
  div.banner-image
  div.banner-title
    a(href='/')
      div.banner-text.name NATHALIE <span> </span>HUYNH 
      div.banner-text.blurb WEB DEV + DESIGN 
.about.grid-wrapper.blurb
    .grid
      .about-blurb-title.cool-pop Hi, I'm Nathalie.
      .about-blurb.box
        p.about           I'm passionate about developing 
          span.pop systems and experiences 
          |           to connect the world and its information.
        p.about           If you'd like to hear more about what I'm up to or
          |           where I'm going, shoot me a message at
          |           
          span.pop nhuynh3 [at] mit [dot] edu.
    .grid-wrapper.blurb
      .grid
        .courses COURSEWORK
        .horizontal-line
        .courses.column
          .courses.box-wrapper
            .courses.box
              ul.cool-pop SENIOR
              li.course 
                span.pop 6.858 
                | - Computer Systems Security
              li.course 
                span.pop 6.830 
                | - Database Systems
              li.course 
                span.pop 6.033 
                | - Computer Systems Engineering
              li.course 
                span.pop 6.046 
                | - Advanced Algorithms
              li.course 
                span.pop 6.034 
                | - Artificial Intelligence
              li.course 
                span.pop 6.813 
                | - User Interface Design
              li.course 
                span.pop 6.005 
                | - Software Construction
              li.course 
                span.pop 6.148 
                | - Web Programming Competition
              //- li.course 
              //-   span.pop 6.S03 
              //-   | - Medical Technologies
              li.course 
                span.pop 6.UAP 
                | - Undergraduate Thesis
              li.course 
                span.pop 21M.851
                | - Drawing for Designers
              li.course 
                span.pop 21M.605 
                | - Voice and Speech
              li.course 
                span.pop 21G.101 
                | - Chinese I
              //- li.course 
              //-   span.pop 7.012 
              //-   | - Introductory Biology
          .courses.box-wrapper
            .courses.box
              ul.cool-pop SOPHOMORE
              li.course 
                span.pop 3.024 
                | - Electronic, Optical, and Magnetic Materials
              li.course 
                span.pop 3.022 
                | - Microstructural Evolution
              li.course 
                span.pop 3.016 
                | - Mathematics for Materials Science
              li.course 
                span.pop 3.014 
                | - Materials Lab
              li.course 
                span.pop 3.012 
                | - Fundamentals of Materials
              li.course 
                span.pop 15.812 
                | - Marketing Management
              li.course 
                span.pop 21M.606 
                | - Stage Design
              li.course 
                span.pop 21F.704 
                | - Spanish IV
        .courses.column
          .courses.box-wrapper
            .courses.box
              ul.cool-pop JUNIOR
              li.course 
                span.pop 6.006 
                | - Algorithms
              li.course 
                span.pop 6.004 
                | - Computation Structures
              li.course 
                span.pop 6.042 
                | - Discrete Math for CS
              li.course 
                span.pop 6.007 
                | - Electromagnetic Energy
              li.course 
                span.pop 6.01 
                | - Intro to EECS
              li.course 
                span.pop 6.00 
                | - Intro to Programming
              li.course 
                span.pop 6.UAT 
                | - Technical Communication
              li.course 
                span.pop 3.080 
                | - Economic and Environmental Issues in Materials Selection
              li.course 
                span.pop 21L.005 
                | - Intro to Drama
              li.course 
                span.pop 21M.734 
                | - Lighting Design
              li.hidden foobar
          .courses.box-wrapper
            .courses.box
              ul.cool-pop FRESHMAN
              li.course 
                span.pop 18.02 
                | - Multivariable Calc
              li.course 
                span.pop 18.03 
                | - Differential Equations
              li.course 
                span.pop 8.01 
                | - Mechanics
              li.course 
                span.pop 8.02 
                | - E&amp;M
              li.course 
                span.pop 5.112 
                | - Principles of Chemistry
              li.course 
                span.pop 21F.703 
                | - Spanish III
              li.course 
                span.pop 21W.022 
                | - Autobiographical Writing
