div.grid
  div.column
    div.project-wrapper
      div.project
        div.image
    div.project-wrapper
      div.project.spacer
          div.contact email // linkedin // github // instagram
  div.column
    div.project-wrapper
      div.project
        div.image
