.about.grid-wrapper.blurb
    .grid
        .column
          .blurb.box-wrapper
            .about-blurb.box
              .about-blurb-title Hi, I&apos;m Nathalie
              |           I&apos;m passionate about developing
              |           
              span.up-pop functional + beautiful
              |           experiences of the future. Right now, I&apos;m working towards
              |           that end by studying computer science and materials science
              |           at the Massachusetts Institute of Technology.
              |           My free time at MIT is typically spent forging metal and glass
              |           into functional art, teaching, or organizing and developing for causes I care about.
        .column
          .blurb.box-wrapper
            .about-blurb.box
              | I&apos;ve had the fortune to serve in leadership
              | and partnerships with Vietnamese and Chinese American
              | Communities in Southern California and at MIT, with grassroot
              | health organizations in Laos and Togo, and with the undergraduate
              | EECS and Eta Kappa Nu community at MIT.
              br
              br
              |           If you&apos;d like to hear more about what I&apos;ve been up to or
              |           where I&apos;m going, please feel free to contact me at
              |           
              .up-pop nhuynh3 [at] mit [dot] edu.
    .grid-wrapper.blurb
      .grid
        .courses.courses-title COURSEWORK
        .horizontal-line
        .courses.column
          .courses.box-wrapper
            .courses.box
              ul.color-pop SENIOR
              li.course 6.033 - Computer Systems Engineering
              li.course 6.046 - Advanced Algorithms
              li.course 6.034 - Artificial Intelligence
              li.course 6.813 - User Interface Design
              li.course 6.005 - Software Construction
              li.course 6.148 - Web Programming Competition
              li.course 6.S03 - Medical Technologies
              li.course 6.UAP - Undergraduate Thesis
              li.course 21M.605 - Voice and Speech
              li.course 7.012 - Introductory Biology
              li.hidden foobar
          .courses.box-wrapper
            .courses.box
              ul.color-pop SOPHOMORE
              li.course 3.024 - Electronic, Optical, and Magnetic Materials
              li.course 3.022 - Microstructural Evolution
              li.course 3.016 - Mathematics for Materials Science
              li.course 3.014 - Materials Lab
              li.course 3.012 - Fundamentals of Materials
              li.course 15.812 - Marketing Management
              li.course 21M.606 - Stage Design
              li.course 21F.704 - Spanish IV
        .courses.column
          .courses.box-wrapper
            .courses.box
              ul.color-pop JUNIOR
              li.course 6.006 - Algorithms
              li.course 6.004 - Computation Structures
              li.course 6.042 - Discrete Math for CS
              li.course 6.007 - Electromagnetic Energy
              li.course 6.01 - Intro to EECS
              li.course 6.00 - Intro to Programming
              li.course 6.UAT - Technical Communication
              li.course 3.080 - Economic and Environmental Issues in Materials Selection
              li.course 21L.005 - Intro to Drama
              li.course 21M.734 - Lighting Design
          .courses.box-wrapper
            .courses.box
              ul.color-pop FRESHMAN
              li.course 18.02 - Multivariable Calc
              li.course 18.03 - Differential Equations
              li.course 8.01 - Mechanics
              li.course 8.02 - E&amp;M
              li.course 5.112 - Principles of Chemistry
              li.course 21F.703 - Spanish III
              li.course 21W.022 - Autobiographical Writing
