div.grid
  div.column
    div.project-wrapper
      div.project NOMAD
        div.image
    div.project-wrapper
      div.project BUYFORBABY
        div.image
    div.project-wrapper
      div.project BLACKSMITHING
        div.image
    div.project-wrapper
      div.project.spacer
        div.contact email // linkedin // github // instagram
  div.column
    div.project-wrapper
      div.project FOLD
        div.image
    div.project-wrapper
      div.project MIT HKN
        div.image
    div.project-wrapper
      div.project ENAMELING
        div.image
    div.project-wrapper
      div.project.spacer
