div(ng-controller="ProjectsController as projectsCtrl")
  .grid-wrapper
    .grid
        div(ng-repeat="column in projects").column
          div(ng-repeat="project in column").box-wrapper
            a(scroll-on-click href="projects/{{project.file_name}}")
              .project-title(class="{{project.file_name}}")
                .banner-text.name {{project.name}}
                .banner-text.blurb {{project.blurb}} 
              .project.box(class="{{project.file_name}}" style="background-image: url('http://assets.nathaliehuynh.com/project-assets/{{project.file_name}}/homepage_small2.png')")
          |         