.grid-wrapper
    .grid
        .column
          .box-wrapper
            .project.box
              | FOLD
              .image
          |       
          .box-wrapper
            .project.box
              | MIT HKN
              .image
          |       
          .box-wrapper
            .project.box
              | ENAMELING
              .image
        |     
        .column
          .box-wrapper
            .project.box
              | NOMAD
              .image
          |       
          .box-wrapper
            .project.box
              | BUYFORBABY
              .image
          |       
          .box-wrapper
            .project.box
              | BLACKSMITHING
              .image
