.grid-wrapper.resume
  .blurb Thanks for your interest in my resume!
    p Please 
      a(href="mailto:nhuynh3@mit.edu").warm-pop email me 
      | so I can tailor one especially for you.
    p For a general sense of my work experience and interests,
      | please visit my 
      a(href="https:|www.linkedin.com/pub/nathalie-huynh/63/1/1aa" target="_blank").warm-pop linkedin.