.grid-wrapper
  .text-blurb Thanks for your interest in my resume!
    <br> Please <span><a class="action-link" href="mailto:nhuynh3@mit.edu">email me</a></span> so I can tailor one especially for you.
    <br> For a general sense of my work experience and interests, please visit my <span><a class="action-link" href="https:|www.linkedin.com/pub/nathalie-huynh/63/1/1aa" target="_blank">linkedin.</a></span>