extends layout

block content
    div.container
      div(ng-controller="HomeController as homeCtrl")
        div.nav-bar.desktop
          div.nav
            a(href="/" class="cool-pop" ng-class="{'action-link': isNotActive('/')}").nav-link About me
            |<span> </span>
            a(href="/projects" class="cool-pop" ng-class="{'action-link': isNotActive('/projects')}").nav-link projects
          div.contact <span><a class="action-link" href="mailto:nhuynh3@mit.edu">email</a></span> | <span><a class="action-link" href="https://github.com/nhuynh3" target="_blank">github</a></span> | <span><a class="action-link" href="https:www.linkedin.com/pub/nathalie-huynh/63/1/1aa" target="_blank">linkedin</a></span> | <span><a class="action-link" href="resume">resume</a></span> 

        div.nav-bar.mobile 
          div.nav.mobile
            div(open-menu).action-link &#x2630;
        div.nav-bar.exit
          div(close-menu).action-link &#x2715;
        div.content
          div(ng-view)