extends layout

block content
  .profile_container
    .name
      h1= "Nathalie Huynh"
    .education
      #school MIT 2015
      #major EECS Major, MSE Minor
    img(src='images/csc2.png', width='315', height='210').image
    .blurb Hi! I'm Nathalie, a materials scientist by hobby and a software engineer by trade. I love tinkering with (and hammering on) metals, singing, and picking people's brains. But most importantly, I'm intersted in looking for ways to make that 1 terabyte storage machine of ours way more effective. 
    .links
      a(href='mailto:nhuynh3@mit.edu') | Email |
      a(href='Nathalie Huynh/Nathalie_Huynh_Resume.pdf') | Resume |
