extends layout

block content
  div.banner
    div.banner-image
      div.banner-title
        div.banner-text NATHALIE <span> </span>HUYNH 
        div.banner-text WEB DEV + DESIGN 
  div(ng-controller="HomeController as homeCtrl")
    div.nav
      a(href="").about-nav < about
      a(href="").project-nav projects >
