extends layout

block content
    div.container
      div(ng-controller="HomeController as homeCtrl")
        div.nav-bar
          div.nav
            a(href="/about" ng-class="{'action-link': isNotActive('/about')}").nav-link about
            | <span> | </span>
            a(href="/" ng-class="{'action-link': isNotActive('/')}").nav-link projects
          div.contact <span><a class="action-link" href="mailto:nhuynh3@mit.edu">email</a></span> | <span><a class="action-link" href="https:|www.linkedin.com/pub/nathalie-huynh/63/1/1aa" target="_blank">linkedin</a></span> | <span><a class="action-link" href="https://github.com/nhuynh3" target="_blank">github</a></span>
            div.horizontal-line
        div.content
          div.banner
            div.banner-image
            div.banner-title
              a(href='/')
                div.banner-text.name NATHALIE <span> </span>HUYNH 
                div.banner-text.blurb WEB DEV + DESIGN 
          div(ng-view)
    footer
      div.horizontal-line
      
