doctype html
html
  head
    link(href='http://fonts.googleapis.com/css?family=Poiret+One|Exo' rel='stylesheet' type='text/css')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    if true
      script(src="//localhost:35729/livereload.js")
