doctype html
html(ng-app="nathaliesApp")
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    link(rel="stylesheet", href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css")
    script(src="//code.jquery.com/ui/1.11.2/jquery-ui.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-route.min.js")
    script(src="/index.js")

    link(href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" charset="utf-8")
    meta(name="description=" content="Hi, I'm Nathalie and I'm passionate about developing functional + beautiful experiences of the future. Right now, I'm studying computer science and materials science at the Massachusetts Institute of Technology.")
    base(href='/')

    title= title
  body
    block content