/*Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a {
  color: inherit; 
  text-decoration: inherit; 
}
a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
/*************/

body, html {
  height: 100%;
  font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3B4745;
}

/********************/
/* GENERAL PURPOSE  */
/********************/
.grid-wrapper {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  margin: 20px auto;
}
.grid {
  overflow: hidden;
  width: 100%;
  display: inline-block;
}

.title {
  position: relative;
  right: 0;
}

.column {
  /* on media, change to 100%*/
  width: 50%;
  padding-bottom: 25px;
}
.column:nth-child(odd) {
  float: left;
}
.column:nth-child(even) {
  float: right;
}
.column:first-child > .box-wrapper {
  padding-right: 16px;
}
.column:nth-child(2) > .box-wrapper {
  padding-left: 16px;
}

.box-wrapper:not(:last-child) {
  padding-bottom: 20px;
}
.box {
  width: 100%;
}

.black {
  color: #3B4745;
}

.blurb {
  line-height: 1.6em;
}

/*************/
/* RESUME    */
/*************/

.resume > .blurb {
  max-width: 25em;
}

/*************/
/* PROJECTS  */
/*************/

/* grid-wrapper: 1 to 1.6*/
.project, .pic{
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.project.box, .pic.box {
  height: 0;
  padding-bottom: 66.67%;
  position: relative;
}
.project:not(.hkn):not(.metalwork) {
  background-size: cover;
}

.project.hkn {
  background-position: 50% 66.6%;
}

.project-title, .pic-title {
  opacity: 0;
  position: relative;
  height: 0;
  z-index: 1;
  font-family: "lato"
}

.project-title > .banner-text, .pic-title > .banner-text {
  background-color: rgba(0,0,0,0.63);
}
.project-title > .banner-text.name{
  font-size: 130%;
  margin: 32px 350px 0 32px;
}
.project-title > .banner-text.blurb{
  font-size: 105%;
}

.box-wrapper:hover > a > .project-title,
.pic-wrapper:hover > .pic-title {
  opacity: 1;
}
.box-wrapper:hover > a > .project,
.pic-wrapper:hover > .pic:not(.no-hover) {
  opacity: 0.6;
}

/*************/
/* PROJ  */
/*************/
.back {
  position: fixed;
  top: 33vh;
  left: 50px;
  width: 50px;
  height: 300px;
  background: url("http://assets.nathaliehuynh.com/profile-assets/back.svg") no-repeat;
}
.proj {
  position: relative;
  margin: 15px;
  font-size: 30px;
  top: -20px;
  text-align: center;
}

.proj-info {
  line-height: 1.3em;
  max-width: 24.7em;
  margin: auto;
  font-size: 14px;
}

.proj-info > p {
  padding-bottom: 1.3em;
}
.proj-info > .sub-title {
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 0;
}

.pic-wrapper {
  padding-bottom: 54px;
}

.pic.box {
  background-size: contain;
}

ol {
  margin-left: 30px;
}
/*************/
/* about     */
/*************/
.about.grid-wrapper {
  padding-bottom: 50px;
}
.grid-wrapper > .horizontal-line {
  float: left;
  width: 100%;
}

.blurb.box-wrapper {
  display: inline;
}

.about-blurb {
  max-width: 26em;
  text-align: justify;
}

.about-blurb.box, .courses.box {
  font-size: 16px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.about-blurb-title {
  font-size: 32px;
  color: #D48300;
  text-align: center;
  padding-bottom: 6px;
}

p.about {
  padding-bottom: 16px;
}
.color-pop {
  color: #D48300;
}
.up-pop {
  line-height: 1.8em;
  color: #D48300;
}
.pop {
  font-weight: 500;
}

.courses.box {
  padding-top: 25px;
}
ul {
  line-height: 3em;
}
li.course {
  padding-left: 50px;
  line-height: 2.2em;
  text-indent: -18px;
  max-width: 22em;
}
li.hidden {
  color: white;
}

/*************/
/* banner     */
/*************/
.banner {
  width: 100%;
  height: 283px;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 20px;
  font-family: "lato"
}
.banner-image {
  height: 100%;
  background-size: cover;
  background-image: url("http://assets.nathaliehuynh.com/profile-assets/about.jpg");
  background-repeat: no-repeat;
  background-position: 50% 52%;
  opacity: 0.9;
}

.banner-title {
  position: absolute;
  max-width: 450px;
  top: 10px;
}
.banner-text {
  display: inline-block;
  padding: 0 3px;
  color: white;
  font-size: 170%;
  background-color: rgba(0,0,0,0.43);
}
.banner-text > span {
  display: inline-block;
  width: 9px;
}
.banner-text.name {
  margin: 32px 0 0 32px;
}
.banner-text.blurb {
  font-size: 125%;
  margin: 0 0 0 32px;
}
.banner-text.caption {
  font-size: 16px;
  margin: 64px 0 0 32px;
  max-width: 18em;
}
/*************/
/* nav     */
/*************/
div.nav-bar {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 2;
  padding: 20px 0 0;
}

div.nav {
  color: #c9c6c2;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

div.content {
  position: relative;
  top: 70px;
}

.nav-link {
  display: inline-block;
  height: 30px;
  padding: 8px 0;
}

.action-link {
  color: #c9c6c2;
  cursor: pointer;
}

.action-link:hover {
  color: #97938D;
}
/*************/
/* footer   */
/*************/
.container {
  min-height: 100%;
  margin: 0 auto -145px;
}
.container:after {
  content:"";
  display: block;
}
.contact, .container:after, footer {
  max-width: 900px;
  color: #c9c6c2;
  padding: 2px 20px 0;
}
.contact {
  margin: 0 auto 10px;
  line-height: 1.6em;
  font-size: 10pt;
}
footer {
  margin: 200px auto 30px;
}
.horizontal-line {
  border: none;
  background-color: #3B4745;
  height: 1px;
}

/*************/
/* MOBILE   */
/*************/
@media (max-width: 750px) {
  .courses.column {
    width: 100%;
  }
  .courses.box {
    margin: 0;
  }
  .project-title.buyforbaby{
    width: 200px;
  }
  .proj-info {
    padding-right: 10px;
  }
}
@media (max-width: 600px) {
  .column {
    width: 100%;
    padding: 20px;
  }
  .column:first-child > .box-wrapper {
    padding-right: 0px;
  }
  .column:nth-child(2) {
    padding: 20px 20px 0px 20px;
  }
  .column:nth-child(2) > .box-wrapper {
    padding-left:0;
  }

  .container {
    min-height: 100%;
    margin: 0 auto -90px;
  }
  .container:after {
    content:"";
    display: block;
  }
  .contact {
    text-align: center;
    padding: 5px 0px 0px;
  }

  .banner-text {
    font-size: 150%;
  }

  .project-title > .banner-text.name {
    margin: 32px 350px 0 64px;
  }
  
  .project-title > .banner-text.blurb {
    margin: 0 0 0 64px;
  }
  
  .project.box, .pic.box {
    margin: 0 auto;
  }
  .project.box {
    width: 70vw;
  }
  
  .project-title.buyforbaby{
    width: auto;
  }

  .project-title.buyforbaby{
    width: auto;
  }

  .proj-info {
    padding-right: 0px;
  }

  footer {
    text-align: center;
  }
}
@media (max-width: 460px) {
  .project.box, .pic.box {
    width: 100%;
  }

  .project.nomad, .project.fold {
    background-position: 0% 0%;
  }
  
  .project-title > .banner-text.name {
    margin: 32px 350px 0 32px;
  }
  .project-title > .banner-text.blurb {
    margin: 0 0 0 32px;
  }
  .project-title.buyforbaby{
    width: 200px;
  }

  .about > .grid > .column {
    padding-left: 0;
    padding-right 0;
  }
  .courses.column {
    padding: 5px;
  }

  li.course {
    padding-left: 20px;
  }
}

