/*Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a {
  color: inherit; 
  text-decoration: inherit; 
}
a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
/*************/

body, html {
  height: 100%;
  font: 100% "Futura", Arial, sans-serif;
  
}

/********************/
/* GENERAL PURPOSE  */
/********************/
.grid-wrapper {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  margin: 20px auto;
}
.grid {
  overflow: hidden;
  width: 100%;
  display: inline-block;
}

.title {
  position: relative;
  right: 0;
}

.column {
  /* on media, change to 100%*/
  width: 50%;
  padding-bottom: 25px;
}
.column:nth-child(odd) {
  float: left;
}
.column:nth-child(even) {
  float: right;
}
.column:first-child > .box-wrapper {
  padding-right: 16px;
}
.column:nth-child(2) > .box-wrapper {
  padding-left: 16px;
}

.box-wrapper:not(:last-child) {
  padding-bottom: 20px;
}
.box {
  width: 100%;
}

/*************/
/* PROJECTS  */
/*************/

/* grid-wrapper: 1 to 1.6*/
.project {
  opacity: .6;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.project.box {
  height: 0;
  padding-bottom: 66.67%;
  position: relative;
}
.project.hkn {
  background-position: 50% 66.6%;
}

.project-title {
  opacity: 1;
  position: relative;
  height: 0;
  z-index: 1;
}
.project-title > .banner-text {
  font-size: 130%;
}
.project-title > .banner-text.name{
  margin: 32px 350px 0 32px;
}
.project-title > .banner-text.blurb{
  font-size: 105%;
}
.box-wrapper:hover > a > .project-title.banner-text.blurb {
  opacity: 0;
}
.box-wrapper:hover > a > .project {
  opacity: 1;
}

/*************/
/* PROJ  */
/*************/
.back {
  position: fixed;
  top: 33vh;
  left: 50px;
  width: 50px;
  height: 300px;
  background: url("http://assets.nathaliehuynh.com/profile-assets/back.svg") no-repeat;
}
.proj, .proj-intro {
  width: 100%;
  text-align: center;
}

/*************/
/* about     */
/*************/
.about.grid-wrapper {
  padding-bottom: 50px;
}
.grid-wrapper > .horizontal-line {
  float: left;
  width: 100%;
}
.blurb, .courses {
  font-family: "Lato";
  line-height: 1.6em;
}
.blurb {
  max-width: 26em;
  text-align: justify;
}
.blurb.box-wrapper {
  display: inline;
}
.blurb.box, .courses.box {
  font-size: 16px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.blurb.blurb-title {
  font-size: 32px;
  color: #c9c6c2;
  text-align: center;
  line-height: 1.2em;
}
.color-pop {
  color: #c9c6c2;
}
.up-pop {
  line-height: 1.8em;
  color: #c9c6c2;
}

.courses.box {
  padding-top: 25px;
}
ul {
  line-height: 4em;
}
li.course {
  padding-left: 50px;
  line-height: 2.2em;
  text-indent: -18px;
  max-width: 22em;
}
li.hidden {
  color: white;
}

/*************/
/* banner     */
/*************/
.banner {
  width: 100%;
  height: 283px;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 20px;
}
.banner-image {
  height: 100%;
  background-size: cover;
  background-image: url("http://assets.nathaliehuynh.com/profile-assets/about.jpg");
  background-repeat: no-repeat;
  background-position: 50% 52%;
  opacity: 0.38;
}

.banner-title {
  position: absolute;
  max-width: 450px;
  top: 95px;
}
.banner-text {
  display: inline-block;
  padding: 0 3px;
  color: white;
  font-size: 170%;
  background-color: rgba(0,0,0,0.43);
}
.banner-text > span {
  display: inline-block;
  width: 9px;
}
.banner-text.name {
  margin: 32px 0 0 32px;
}
.banner-text.blurb {
  font-size: 125%;
  margin: 0 0 0 32px;
}

/*************/
/* nav     */
/*************/
div.nav {
  font-size: 20px;
  text-transform: uppercase;
  max-width: 900px;
  padding: 7px 0 0 0;
  margin: 16px auto 0px;
  text-align: center;
}

.nav-link {
  display: inline-block;
  height: 40px;
}
.action-link {
  color: #c9c6c2;
  cursor: pointer;
  padding: 8px 0;
  margin: -8px 0;
}

.action-link:hover {
  color: #97938D;
}
/*************/
/* footer   */
/*************/
.container {
  min-height: 100%;
  margin: 0 auto -145px;
}
.container:after {
  content:"";
  display: block;
}
.contact, .container:after, footer {
  max-width: 900px;
  padding: 0 20px;
  color: #97938D;
}
.contact {
  margin: 0 auto;
  line-height: 1.6em;
}
footer {
  margin: 115px auto 30px;
}
.horizontal-line {
  border: none;
  background-color: #97938D;
  color: #97938D;
  height: 1px;
}


/*************/
/* MOBILE   */
/*************/
@media (max-width: 750px) {
  .courses.column {
    width: 100%;
  }
  .courses.box {
    margin: 0;
  }
  .blurb.blurb-title {
    font-size: 29px;
  }
}
@media (max-width: 600px) {
  .column {
    width: 100%;
    padding: 20px;
  }
  .column:first-child > .box-wrapper {
    padding-right: 0px;
  }
  .column:nth-child(2) {
    padding: 20px 20px 0px 20px;
  }
  .column:nth-child(2) > .box-wrapper {
    padding-left:0;
  }

  .container {
    min-height: 100%;
    margin: 0 auto -90px;
  }
  .container:after {
    content:"";
    display: block;
  }
  .contact {
    text-align: center;
    padding: 0px 0px 10px
  }
  .contact > .horizontal-line {
    display: none;
  }
  footer {
    margin: 115px auto 30px;
    text-align: center;
  }
  .banner-text {
    font-size: 150%;
  }
  .banner-title {
    top: 108px;
  }
}

