/*Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
/*************/

body, html {
  height: 100%;
  font: 100% "Futura", Arial, sans-serif;
  
}


/*************/
/* PROJECTS  */
/*************/

/* grid: 1 to 1.6*/
.grid {
  width: 100%;
  height: 100%;
  max-width: 900px;
  padding: 20px;
  margin: 20px auto;
}

.column {
  /* on media, change to 100%*/
  width: 50%;
  padding-bottom: 105px;
}
.column:first-child {
  float: left;
}
.column:nth-child(2) {
  float: right;
}
.column:first-child > .project-wrapper {
  padding-right: 16px;
}
.column:nth-child(2) > .project-wrapper {
  padding-left: 16px;
}

.project-wrapper:not(:last-child) {
  padding-bottom: 20px;
}
.project {
  width: 100%;
  height: 0;
  padding-bottom: 62.5%;
  position: relative;
  background-color: rgba(154, 150, 144, 0.45);
}
.project:hover {
  background-color: rgba(180,180,180, 0.4)
}
.project.spacer {
  background-color: rgba(0,0,0,0);
}

.image {
  width: 100%;
  height: 100%;
}

/*************/
/* about     */
/*************/
.grid > .horizontal-line {
  float: left;
}

.about > .column {
  padding-bottom: 58px;
}


/*************/
/* banner     */
/*************/
.banner {
  width: 100%;
  height: 412px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.banner-image {
  height: 100%;
  background-size: cover;
  background-image: url(../images/about.jpg);
  background-repeat: no-repeat;
  background-position: 50% 66%;
}

.banner-title {
  max-width: 450px;
}
.banner-text {
  display: inline-block;
  padding: 0 3px;
  color: white;
  font-size: 210%;
  background-color: rgba(0,0,0,0.33);
}
.banner-text > span {
  display: inline-block;
  width: 6px;
}
.banner-text:first-child {
  margin: 40px 0 0 40px;
}
.banner-text:nth-child(2) {
  margin: 0 0 0 40px;
}

/*************/
/* nav     */
/*************/
div.nav {
  line-height: 1.6em;
  text-transform: uppercase;
  max-width: 900px;
  padding: 20px 0 0 0;
  margin: auto;
  text-align: center;
}

.selected.nav {
  color: rgba(154, 150, 144, 0.45);
}

/*************/
/* footer   */
/*************/
.container {
  min-height: 100%;
  margin: 0 auto -145px;
}
.container:after {
  content:"";
  display: block;
}
.contact, .container:after {
  max-width: 900px;
  padding: 20px;
  margin: 40px auto;
}
.horizontal-line {
  border: none;
  background-color: rgb(154, 150, 144);
  color: rgb(154, 150, 144);
  height: 1px;
}

/*************/
/* MOBILE   */
/*************/
@media (max-width: 600px) {
  .column {
    width: 100%;
    padding: 20px;
  }
  .column:first-child > .project-wrapper {
    padding-right: 0px;
  }
  .column:nth-child(2) {
    padding: 20px 20px 40px 20px;
  }
  .column:nth-child(2) > .project-wrapper {
    padding-left:0;
  }

  .container {
    min-height: 100%;
    margin: 0 auto -80px;
  }
  .container:after {
    content:"";
    display: block;
}
  .contact {
    margin: 15px auto;
    width: 21em;
    text-align: center;
  }
}

